doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='theme-color', content='#000000')
    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='/favicon.ico')
    title Xiro App
    link(href='/stylesheets/css/main.abcd6917.css', rel='stylesheet')
  body
    noscript bla bla.
    script(type='text/javascript').
    #root!= markup
    script(type='text/javascript', src='/javascripts/js/vendors.e4404297.chunk.js')
    script(type='text/javascript', src='/javascripts/js/main.5fb2b327.js')
